.DS_Store
us-dev/.DS_Store
us-dev/*/.*
us-dev/*/.*
us-dev/aws-integration-tenant-mgmt-api/spoke/lambda/code/env*.json
us-dev/modules/consumer/.*
us-dev/modules/provider/.*
us-dev/aws-integration-tenant-mgmt-api/consumer/.*
us-dev/aws-integration-tenant-mgmt-api/provider/.*
